.case-footer-view{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #efefef;
    padding: 5px;
    border-radius: 5px;
    h5{
        font-size: 14px;
        margin: 0;
        font-weight: 600;
   }
}